.container_table {
    padding: 50px;
}

.container_options {
    border: solid 1px black;
}

.container_time {
    margin-top: 10px;
}
.container_datepicker {
    display: inline-flex;
}

.container_dropdown {
    display: inline-flex;
}

.container_dropdown p {
    margin-right: 5px;
}

.dropdown {
    margin-right: 20px;
}

.gridview_main {
    margin-top: 50px;
    width: 100%;
}
