
html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(/Images/gletscher.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.container_main {
    height: auto;
    margin-bottom: 15vh;
}

.container_message {
    height: auto;
    padding: 20px;
    margin-top: 1vh;
    text-align: center;
    color: black;
    border: solid 1px #EBF0F2;
    border-radius: 5px;
    background-color: #EBF0F2;
    opacity: 0.9;
}

.flexbox_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    top: 0;
    padding: 0;
}

.flexboxitem_main {
    display: block;
    width: 300px;
    height: 450px;
    color: #568FA6;
    margin: 1%;
    text-align: center;
    border: solid 1px black;
    background-color: white;
    opacity: 0.9;
    /*filter: drop-shadow(0px 0px 15px black);*/
    box-shadow: 0px 0px 10px black;
    transition: width 0.5s, height 0.5s, margin-top 0.5s, background-color 0.5s, color 0.5s;
    user-select: none;
}


    .flexboxitem_main:hover {
        text-decoration: none;
        /*width: 320px;
        height: 370px;*/ /*Ästhetik Check*/
        margin-top: -30px;
        background-color: #B0CDD9;
        cursor: grab;
        color: #012E40;
    }

    .flexboxitem_main h3 {
        color: black;
    }

.icon_main {
    font-size: 12rem;
}

.text_info {
    font-size: 1.4rem;
    color: black;
    margin: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    z-index: 0;
}

    .footer p {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        float: right;
        color: white;
        z-index: 0;
    }
